<h1>Pets or Animals?</h1>
<ul>
    {{#each this}}
    <li>Type: {{animalType}} Pet: {{pet}} Fierceness: {{fierceness}}</li>
    {{/each}}
</ul>
<!-- Print out the type, pet boolean and fierceness of all the animals. -->